dnspython==2.6.1
-e git+ssh://git@github.com/dtdannen/dvmdash.git@81e48d3124b4dad7b3154831395fdd83d9aa14d1#egg=dvmdash
loguru==0.7.2
nostr-sdk==0.12.0
pymongo==4.7.2
python-dotenv==1.0.1
neo4j==5.20.0
bech32==1.2.0
tqdm==4.66.4