{% extends 'monitor/base.html' %}

{% block extrahead %}
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <style>
    .links line {
      stroke: #999;
      stroke-opacity: 0.6;
    }

    .nodes text {
      pointer-events: none;
      font-size: 10px;
      text-anchor: middle;
      alignment-baseline: central;
    }

    .node circle {
      stroke: #fff;
      stroke-width: 1.5px;
      fill: #69b3a2;
    }

    #graph {
      width: 100%;
      height: 400px;
    }
  </style>

    <style>
        .form-container {
            max-width: 1000px;
            margin: 0 auto;
            padding-top: 100px;
        }
        .form-container textarea {
            resize: none;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .form-container .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            margin-top: 20px;
            padding: 10px 30px;
            border-radius: 25px;
            font-weight: bold;
        }
        .form-container .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
        .table-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    #dataTable {
      width: 80%;
      border-collapse: collapse;
    }

    #dataTable th,
    #dataTable td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
  </style>
    </style>
{% endblock %}

{% block content %}

    {% if event_id %}
    <div id="graph"></div>
    <div class="table-container">
      <table id="dataTable">
        <thead>
          <tr>
              <th>Creator</th>
            <th>Kind</th>
              <th>Brief Info</th>
            <th>Event URL</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    {% else %}
    {# Show the input box #}
        <div class="container">
        <div class="form-container">
            <form method="post" class="text-center">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" rows="3" name="text_input" placeholder="Paste your text here..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    {%  endif %}





<script>
document.addEventListener("DOMContentLoaded", function() {
  fetch('/api/graph/{{ event_id }}')
    .then(response => response.json())
    .then(responseData => {
      const data = responseData.node_relations;
      const eventNodes = responseData.event_nodes;

      const nodes = [];
      const links = [];

      data.forEach(item => {
        const n = item.source_node;
        const r = item.relation;
        const req = item.target_node;

        const sourceNode = {
          id: n.id,
          pubkey: n.npub_hex || n.pubkey,
          label: getLastChars(n.npub_hex || n.id),
          kind: n.kind,
          raw_created_at: n.created_at,
          url: n.url,
          quick_details: n.quick_details,
          node_type: n.node_type
        };
        const targetNode = {
          id: req.id,
          pubkey: req.npub_hex || req.pubkey,
          label: getLastChars(req.id),
          kind: req.kind,
          raw_created_at: req.created_at,
          url: req.url,
          quick_details: req.quick_details,
          node_type: req.node_type
        };
        console.log("Source Node: ", sourceNode);
        const link = { source: sourceNode.id, target: targetNode.id, label: r};

        if (!nodes.find(node => node.id === sourceNode.id)) {
          nodes.push(sourceNode);
        }
        if (!nodes.find(node => node.id === targetNode.id)) {
          nodes.push(targetNode);
        }
        links.push(link);
        console.log(`Link: ${sourceNode.kind || sourceNode.node_type} -> ${targetNode.kind || targetNode.node_type}`);
      });

      // log how many nodes and links there are
      console.log(`Nodes: ${nodes.length}, Links: ${links.length}`);

      const width = document.getElementById('graph').clientWidth;
      const height = document.getElementById('graph').clientHeight;

      // Create the tidy tree layout
      const root = d3.stratify()
        .id(d => d.id)
        .parentId(d => links.find(link => link.target === d.id)?.source)
        (nodes);

      const dx = 10;
      const dy = width / (root.height + 1);
      const tree = d3.tree().nodeSize([dx, dy]);

      root.sort((a, b) => d3.ascending(a.data.label, b.data.label));
      tree(root);

      let x0 = Infinity;
      let x1 = -x0;
      root.each(d => {
        if (d.x > x1) x1 = d.x;
        if (d.x < x0) x0 = d.x;
      });

      const adjustedHeight = x1 - x0 + dx * 2;

      const svg = d3.select("#graph").append("svg")
        .attr("width", width)
        .attr("height", adjustedHeight)
        .attr("viewBox", [-dy / 3, x0 - dx, width, adjustedHeight])
        .attr("style", "max-width: 100%; height: auto; font: 10px sans-serif;");

      const link = svg.append("g")
        .attr("fill", "none")
        .attr("stroke", "#555")
        .attr("stroke-opacity", 0.4)
        .attr("stroke-width", 1.5)
        .selectAll()
        .data(root.links())
        .join("path")
          .attr("d", d3.linkHorizontal()
            .x(d => d.y)
            .y(d => d.x));

      const node = svg.append("g")
        .attr("stroke-linejoin", "round")
        .attr("stroke-width", 3)
        .selectAll()
        .data(root.descendants())
        .join("g")
          .attr("transform", d => `translate(${d.y},${d.x})`);

      node.append("circle")
        .attr("fill", d => d.children ? "#555" : "#999")
        .attr("r", 2.5);

      node.append("text")
        .attr("dy", "0.31em")
        .attr("x", d => d.children ? -6 : 6)
        .attr("text-anchor", d => d.children ? "end" : "start")
        .text(d => d.data.label)
        .attr("stroke", "white")
        .attr("paint-order", "stroke");

      // Process the 'eventNodes' for the table
      const tableNodes = Object.values(eventNodes);

      // Sort tableNodes by created_at in ascending order
      tableNodes.sort((a, b) => a.created_at - b.created_at);

      // Populate the table with data from 'eventNodes'
      const tableBody = d3.select("#dataTable tbody");
      tableBody.selectAll("tr")
        .data(tableNodes)
        .enter()
        .append("tr")
        .html(d => `
          <td><a href="https://dvmdash.live/npub/${d.pubkey}">View ...${d.pubkey.slice(-6)}</a></td>
          <td>${d.kind}</td>
          <td>${d.quick_details}</td>
          <td><a href="${d.url}" target="_blank">View</a></td>
          <td>${formatTimestamp(d.created_at)}</td>
        `);
    })
    .catch(error => console.error('Error fetching the data:', error));
});

  function getLastChars(str) {
    if (str) {
      const lastChars = str.slice(-6);
      return `...${lastChars}`;
    }
    return "";
  }

  function formatTimestamp(timestamp) {
      const date = new Date(timestamp * 1000);

      const months = [
        'January', 'February', 'March', 'April', 'May', 'June',
        'July', 'August', 'September', 'October', 'November', 'December'
      ];

      const month = months[date.getMonth()];
      const day = date.getDate();
      const year = date.getFullYear();
      const hours = String(date.getHours()).padStart(2, '0');
      const minutes = String(date.getMinutes()).padStart(2, '0');
      const seconds = String(date.getSeconds()).padStart(2, '0');

      let daySuffix;
      if (day >= 11 && day <= 13) {
        daySuffix = 'th';
      } else {
        switch (day % 10) {
          case 1:
            daySuffix = 'st';
            break;
          case 2:
            daySuffix = 'nd';
            break;
          case 3:
            daySuffix = 'rd';
            break;
          default:
            daySuffix = 'th';
        }
      }

      return `${month} ${day}${daySuffix}, ${year} at ${hours}:${minutes}:${seconds}`;
    }

    function getNodeLabel(node) {
  if (node.kind >= 5000 && node.kind <= 5999) {
    return "Request";
  } else if (node.kind === 7000) {
    return "Feedback";
  } else if (node.kind >= 6000 && node.kind <= 6999) {
    return "Result";
  } else if (!node.kind && node.node_type === "User") {
    return "User";
  }
  return "";
}

function getNodeColor(node) {
  if (node.kind >= 5000 && node.kind <= 5999) {
    return "green";
  } else if (node.kind === 7000) {
    return "lightblue";
  } else if (node.kind >= 6000 && node.kind <= 6999) {
    return "pink";
  } else if (!node.kind && node.node_type === "User") {
    return "darkblue";
  }
  return "#999999";
}

</script>

{% endblock %}