{% extends 'monitor/base.html' %}

{% block extrahead %}
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <style>
    .links line {
      stroke: #999;
      stroke-opacity: 0.6;
    }

    .nodes text {
      pointer-events: none;
      font-size: 10px;
      text-anchor: middle;
      alignment-baseline: central;
    }

    .node circle {
      stroke: #fff;
      stroke-width: 1.5px;
      fill: #69b3a2;
    }

    #graph {
      width: 100%;
      height: 400px;
    }
  </style>

    <style>
        .form-container {
            max-width: 1000px;
            margin: 0 auto;
            padding-top: 100px;
        }
        .form-container textarea {
            resize: none;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .form-container .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            margin-top: 20px;
            padding: 10px 30px;
            border-radius: 25px;
            font-weight: bold;
        }
        .form-container .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
    </style>
{% endblock %}

{% block content %}

<div class="container">
        <div class="form-container">
            <form method="post" class="text-center">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" rows="3" name="text_input" placeholder="Paste your text here..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

  <div id="graph"></div>
  <p>This is some additional content that will be displayed below the graph.</p>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    fetch('/api/graph')
      .then(response => response.json())
      .then(data => {
        const nodes = [];
        const links = [];

        data.forEach(item => {
          const p = item.p;
          const sourceNode = { id: p[0].request_id, label: p[0].content.substring(0, 25) };
          const targetNode = { id: p[2].content_id, label: p[2].content.substring(0, 25) };
          const link = { source: p[0].request_id, target: p[2].content_id, label: p[1] };

          if (!nodes.find(node => node.id === sourceNode.id)) {
            nodes.push(sourceNode);
          }
          if (!nodes.find(node => node.id === targetNode.id)) {
            nodes.push(targetNode);
          }
          links.push(link);
        });

        const width = document.getElementById('graph').clientWidth;
        const height = document.getElementById('graph').clientHeight;

        const svg = d3.select("#graph").append("svg")
          .attr("width", width)
          .attr("height", height);

        const simulation = d3.forceSimulation(nodes)
          .force("link", d3.forceLink(links).id(d => d.id))
          .force("charge", d3.forceManyBody().strength(-200))
          .force("center", d3.forceCenter(width / 2, height / 2));

        const colorMap = {
          Feedback: "#89CFF0",
          Request: "#FF7F50",
          Content: "#90EE90",
          NPub: "#9125d0"
        };

        const link = svg.append("g")
          .attr("class", "links")
          .selectAll("line")
          .data(links)
          .enter().append("line")
          .attr("stroke-width", 2);

        const node = svg.append("g")
          .attr("class", "nodes")
          .selectAll("circle")
          .data(nodes)
          .enter()
          .append("g")
          .attr("class", "node");

        node.append("circle")
          .attr("r", 20)
          .attr("fill", d => colorMap[d.type] || "#999999"); // Default color

        node.append("text")
          .text(d => d.label);

        node.on("dblclick", function(event, d) {
            if (d.url) {
                window.open(d.url, "_blank");
            }
        })

        node.call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended));

        simulation
          .nodes(nodes)
          .on("tick", ticked);

        simulation.force("link")
          .links(links);

        function ticked() {
          link
            .attr("x1", d => d.source.x)
            .attr("y1", d => d.source.y)
            .attr("x2", d => d.target.x)
            .attr("y2", d => d.target.y);

          node
            .attr("transform", d => `translate(${d.x},${d.y})`);
        }

        function dragstarted(event, d) {
          if (!event.active) simulation.alphaTarget(0.3).restart();
          d.fx = d.x;
          d.fy = d.y;
        }

        function dragged(event, d) {
          d.fx = event.x;
          d.fy = event.y;
        }

        function dragended(event, d) {
          if (!event.active) simulation.alphaTarget(0);
          d.fx = null;
          d.fy = null;
        }
      })
      .catch(error => console.error('Error fetching the data:', error));
  });
</script>

{% endblock %}