{% extends 'monitor/base.html' %}

{% block extrahead %}
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <style>
    .links line {
      stroke: #999;
      stroke-opacity: 0.6;
    }

    .nodes text {
      pointer-events: none;
      font-size: 10px;
      text-anchor: middle;
      alignment-baseline: central;
    }

    .node circle {
      stroke: #fff;
      stroke-width: 1.5px;
      fill: #69b3a2;
    }

    #graph {
      width: 100%;
      height: 400px;
    }
  </style>

    <style>
        .form-container {
            max-width: 1000px;
            margin: 0 auto;
            padding-top: 100px;
        }
        .form-container textarea {
            resize: none;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .form-container .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            margin-top: 20px;
            padding: 10px 30px;
            border-radius: 25px;
            font-weight: bold;
        }
        .form-container .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
    </style>
{% endblock %}

{% block content %}

    {%  if event_id %}
    {# Show the graph! #}
        <div id="graph"></div>
  <p>(Work in Progress)!</p>
        <table id="dataTable">
      <thead>
        <tr>
          <th>ID</th>
          <th>URL</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    {% else %}
    {# Show the input box #}
        <div class="container">
        <div class="form-container">
            <form method="post" class="text-center">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" rows="3" name="text_input" placeholder="Paste your text here..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    {%  endif %}





<script>
  document.addEventListener("DOMContentLoaded", function() {
    fetch('/api/graph/{{ event_id }}')
      .then(response => response.json())
      .then(data => {
        const nodes = [];
        const links = [];

        data.forEach(item => {
          const n = item.n;
          const r = item.r;
          const req = item.req;

          const sourceNode = { id: n.npub_hex || n.event_id, label: getLastChars(n.npub_hex || n.event_id) };
          const targetNode = { id: req.event_id, label: getLastChars(req.event_id) };
          const link = { source: sourceNode.id, target: targetNode.id, label: r[0][1] };

          if (!nodes.find(node => node.id === sourceNode.id)) {
            nodes.push(sourceNode);
          }
          if (!nodes.find(node => node.id === targetNode.id)) {
            nodes.push(targetNode);
          }
          links.push(link);
        });

        const width = document.getElementById('graph').clientWidth;
        const height = document.getElementById('graph').clientHeight;

        const svg = d3.select("#graph").append("svg")
          .attr("width", width)
          .attr("height", height);

        const simulation = d3.forceSimulation(nodes)
          .force("link", d3.forceLink(links).id(d => d.id))
          .force("charge", d3.forceManyBody().strength(-200))
          .force("center", d3.forceCenter(width / 2, height / 2));

        const link = svg.append("g")
          .attr("class", "links")
          .selectAll("line")
          .data(links)
          .enter().append("line")
          .attr("stroke-width", 2);

        const node = svg.append("g")
          .attr("class", "nodes")
          .selectAll("g")
          .data(nodes)
          .enter()
          .append("g")
          .attr("class", "node");

        node.append("circle")
          .attr("r", 20)
          .attr("fill", "#999999");

        node.append("text")
          .text(d => d.label)
          .attr("text-anchor", "middle")
          .attr("dy", 5);

        simulation
          .nodes(nodes)
          .on("tick", ticked);

        simulation.force("link")
          .links(links);

        function ticked() {
          link
            .attr("x1", d => d.source.x)
            .attr("y1", d => d.source.y)
            .attr("x2", d => d.target.x)
            .attr("y2", d => d.target.y);

          node
            .attr("transform", d => `translate(${d.x},${d.y})`);
        }

        function getLastChars(url) {
          if (url) {
            const lastChars = url.slice(-6);
            return `...${lastChars}`;
          }
          return "";
        }

        // Sort nodes by created_at in descending order
          nodes.sort((a, b) => new Date(b.created_at) - new Date(a.created_at));

          // Populate the table with data
        const tableBody = d3.select("#dataTable tbody");
        tableBody.selectAll("tr")
          .data(nodes)
          .enter()
          .append("tr")
          .html(d => `
            <td>${d.id}</td>
            <td><a href="https:/dvmdash.live/event/${d.id}" target="_blank">${d.label}</a></td>
            <td>${formatDateTime(Date.now())}</td>
          `);
      })
      .catch(error => console.error('Error fetching the data:', error));
  });

  function getLastChars(str) {
    if (str) {
      const lastChars = str.slice(-6);
      return `...${lastChars}`;
    }
    return "";
  }

  function formatDateTime(timestamp) {
    const options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
    return new Date(timestamp).toLocaleDateString(undefined, options);
  }
</script>

{% endblock %}