{% extends 'monitor/base.html' %}
{%  load static %}
{% load humanize %}
{% load custom_template_filters %}
{% block extrahead %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<style>
    .select2-container--default .select2-selection--single,
    .select2-container--default .select2-selection--single .select2-selection__rendered,
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        background-color: #343a40 !important;
        border-color: #6c757d !important;
        color: #fff !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__placeholder {
        color: #adb5bd !important;
    }

    .select2-container--default .select2-results__option {
        background-color: #343a40 !important;
        color: #fff !important;
    }

    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: #6c757d !important;
        color: #fff !important;
    }

    .select2-container--default .select2-selection--single {
        border-style: solid !important;
        border-width: 1px !important;
        border-color: #6c757d !important;
    }

    .select2-container--default.select2-container--open .select2-selection--single,
    .select2-container--default.select2-container--focus .select2-selection--single {
        border-color: #6c757d !important;
    }
</style>
{% endblock %}

{% block content %}
       {% if dvm_stat_docs %}
    <form id="dvm-form" onsubmit="return redirectToDVM();">
        <select id="dvm-select" name="selected_item" class="select2" style="width: 100%;">
            <option value="">Start typing the pub key, hex, or nip-89 name of the dvm....</option>
            {% for doc in dvm_stat_docs %}
                {% if doc.profile.name %}
                    <option value="{{ doc.metadata.dvm_npub_hex }}">
                        {{ doc.profile.name }}
                    </option>
                {%  endif %}
                <option value="{{ doc.metadata.dvm_npub_hex }}">
                    {{ doc.metadata.dvm_npub_hex }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>
{% endif %}

    {% if dvm_pub_key %}

        <div class="container mt-5">

            <!-- Profile Card -->
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card bg-darkmediumpurple text-white">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 text-center">
                                    <img src="{% if profile.image %}{{ profile.image }}{% else %}https://image.nostr.build/02f17c99b5f548eba32d69f46c9e4b816fe292e52c11b455b150eeb1c7e45422.png{% endif %}" alt="{{ profile.name }}" class="img-fluid rounded-circle mb-3" style="max-width: 200px;">
                                    <h3 class="card-title">{{ profile.name }}</h3>
                                </div>
                                <div class="col-md-9">
                                    <h5>About:</h5>
                                    <p>{{ profile.about }}</p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p><strong>Encryption Supported:</strong> {{ profile.encryptionSupported|yesno:"Yes,No" }}</p>
                                            <p><strong>Cashu Accepted:</strong> {{ profile.cashuAccepted|yesno:"Yes,No" }}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>NIP90 Parameters:</h5>
                                            {% for param, details in profile.nip90Params.items %}
                                                <p><strong>{{ param|title }}:</strong>
                                                {% if details.values %}
                                                    {{ details.values|join:", " }}
                                                {% else %}
                                                    Not specified
                                                {% endif %}
                                                (Required: {{ details.required|yesno:"Yes,No" }})</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="card text-white bg-darkmediumpurple mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Jobs Performed</h5>
                            <p class="card-text display-4">{{ number_jobs_completed|intcomma }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card text-white bg-darkmediumpurple mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Sats Earned</h5>
                            <p class="card-text display-4">{{ total_sats_received|intcomma }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% if kind_stats %}
    <div class="container mt-5">
        <h2>Kind Statistics for this DVM</h2>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>Kind</th>
                    <th>Average Response Time</th>
                    <th>Total Sats Earned</th>
                    <th>Number of Jobs</th>
                </tr>
            </thead>
            <tbody>
                {% for kind, stats in kind_stats.items %}
                    <tr>
                        <td>{{ kind }}</td>
                        <td>{{ stats.avg_response_time|floatformat:2 }} seconds</td>
                        <td>{{ stats.total_sats_earned|intcomma }}</td>
                        <td>{{ stats.number_of_jobs|intcomma }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

    {% if recent_dvm_events %}
        <div class="container mt-5">
        <h2>100 Most Recent Events</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Time of Request</th>
                  <th scope="col">Kind</th>
                  <th scope="col">Event ID Link</th>
                    <th scope="col">Debug Link</th>
                </tr>
              </thead>
              <tbody>
                {% for e in recent_dvm_events %}
                <tr>
                  <td>{{ e.created_at|naturaltime }}</td>
                  <td>{{ e.kind }}</td>
                  <td><a href="{% url 'see_event' event_id=e.id %}">{{ e.id }}</a></td>
                    <td><a href="{% if e.debug_event_id %}{% url 'debug_with_event_id' event_id=e.debug_event_id %}{%  else %}{% url 'debug_with_event_id' event_id=e.id %}{% endif %}">Debug this DVM Chain</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    {% endif %}

    {% elif dvm_stat_docs %}
        <div class="container mt-5">
        <h2>DVMs at a Glance</h2>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>Name or NPub Hex</th>
                    <th>Jobs Completed</th>
                    <th>Total Sats Received</th>
                    <th>About</th>
                </tr>
            </thead>
            <tbody>
                {% for doc in dvm_stat_docs %}
                <tr>
                    {% if doc.profile.name %}
                        <td><a href="{%  url 'dvm_with_pub_key' doc.metadata.dvm_npub_hex %}">{{ doc.profile.name }}</a></td>
                    {% else %}
                        <td><a href="{%  url 'dvm_with_pub_key' doc.metadata.dvm_npub_hex %}">{{ doc.metadata.dvm_npub_hex|slice:":8" }}...{{ doc.metadata.dvm_npub_hex|slice:"-4:" }}</a></td>
                    {%  endif %}
                    <td>{{ doc.number_jobs_completed|intcomma }}</td>
                    <td>{{ doc.total_sats_received|intcomma }}</td>
                    <td>{{ doc.profile.about|truncatechars:50 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    {%  endif %}

    <script>
function redirectToDVM() {
    var selectedValue = document.getElementById('dvm-select').value;
    if (selectedValue) {
        window.location.href = '/dvm/' + selectedValue;
        return false; // Prevent the form from submitting normally
    }
    return false; // If no value is selected, don't submit the form
}
</script>

{% endblock %}