{% extends 'monitor/base.html' %}
{% load humanize %}
{% block extrahead %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<style>
    .select2-container--default .select2-selection--single,
    .select2-container--default .select2-selection--single .select2-selection__rendered,
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        background-color: #343a40 !important;
        border-color: #6c757d !important;
        color: #fff !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__placeholder {
        color: #adb5bd !important;
    }

    .select2-container--default .select2-results__option {
        background-color: #343a40 !important;
        color: #fff !important;
    }

    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: #6c757d !important;
        color: #fff !important;
    }

    .select2-container--default .select2-selection--single {
        border-style: solid !important;
        border-width: 1px !important;
        border-color: #6c757d !important;
    }

    .select2-container--default.select2-container--open .select2-selection--single,
    .select2-container--default.select2-container--focus .select2-selection--single {
        border-color: #6c757d !important;
    }
</style>
{% endblock %}

{% block content %}
    {% if kinds %}
        <form id="kind-form">
            <select id="kind-select" name="selected_item" class="select2" style="width: 100%;">
                <option value="">Start typing the kind num...</option>
                {% for kind_num in kinds %}
                    <option value="{{ kind_num }}">{{ kind_num }}</option>
                {% endfor %}
            </select>
            <button type="submit">Submit</button>
        </form>
    {% endif %}

    {% if kind %}
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-3">
                    <div class="card text-white bg-darkmediumpurple mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Jobs Request</h5>
                            <p class="card-text display-4">{{ total_jobs_requested }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card text-white bg-darkmediumpurple mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Jobs Finished</h5>
                            <p class="card-text display-4">{{ total_jobs_performed }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card text-white bg-darkmediumpurple mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Number of DVMs</h5>
                            <p class="card-text display-4">{{ number_of_dvms }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card text-white bg-darkmediumpurple mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Total Sats Paid to DVMs</h5>
                            <p class="card-text display-4">{{ total_sats_paid_to_dvms }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="card text-white bg-darkmediumpurple mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Average Job Response Time</h5>
                            <p class="card-text display-4">{{ average_job_response_time|intcomma }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card text-white bg-darkmediumpurple mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Median Job Response Time</h5>
                            <p class="card-text display-4">{{ median_job_response_time }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endif %}

{% endblock %}