{% extends 'monitor/base.html' %}
{%  load humanize %}

{% block content %}
<div class="text-center">
    <h3>Metrics</h3>
</div>

<div class="container mt-5">
    <div class="row">

        <div class="col-md-3">
            <div class="card text-white bg-darkmediumpurple mb-3">
                <div class="card-body">
                    <h5 class="card-title">DVM Requests</h5>
                    <p class="card-text display-4">{{ dvm_requests_all_time|intcomma }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-white bg-darkmediumpurple mb-3">
                <div class="card-body">
                    <h5 class="card-title">DVM Results</h5>
                    <p class="card-text display-4">{{ dvm_results_all_time|intcomma }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-white bg-mediumpurple mb-3">
                <div class="card-body">
                    <h5 class="card-title">DVM Request Kinds Seen</h5>
                    <p class="card-text display-4">{{ num_dvm_request_kinds|intcomma }}</p>
                </div>
            </div>
        </div>

                <div class="col-md-3">
            <div class="card text-white bg-mediumpurple mb-3">
                <div class="card-body">
                    <h5 class="card-title">DVM Response Kinds Seen</h5>
                    <p class="card-text display-4">{{ num_dvm_result_kinds|intcomma }}</p>
                </div>
            </div>
        </div>

    </div>
    <div class="row">

        <div class="col-md-3">
            <div class="card text-white bg-darkmediumpurple mb-3">
                <div class="card-body">
                    <h5 class="card-title">DVM Pub Keys Seen</h5>
                    <p class="card-text display-4">{{ dvm_pub_keys|intcomma }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-white bg-darkmediumpurple mb-3">
                <div class="card-body">
                    <h5 class="card-title">DVM Profiles (NIP-89) Seen </h5>
                    <p class="card-text display-4">{{ dvm_nip_89s|intcomma }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-white bg-darkmediumpurple mb-3">
                <div class="card-body">
                    <h5 class="card-title">Most Popular DVM</h5>
                    <p class="card-text display-4" style="font-size: 2.0rem;"><a href="{%  url 'dvm_with_pub_key' most_popular_dvm_npub %}">{{ most_popular_dvm_name }}</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-white bg-darkmediumpurple mb-3">
                <div class="card-body">
                    <h5 class="card-title">Most Popular Kind</h5>
                    <p class="card-text display-4">{{ most_popular_kind }}</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card text-white bg-darkmediumpurple mb-3">
                <div class="card-body">
                    <h5 class="card-title">(24 hr) DVM Tasks</h5>
                    <p class="card-text display-4">{{ dvm_requests_24_hrs|intcomma }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-white bg-darkmediumpurple mb-3">
                <div class="card-body">
                    <h5 class="card-title">(24 hr) DVM Results</h5>
                    <p class="card-text display-4">{{ dvm_results_24_hrs|intcomma }}</p>
                </div>
            </div>
        </div>

                <div class="col-md-3">
            <div class="card text-white bg-darkmediumpurple mb-3">
                <div class="card-body">
                    <h5 class="card-title">(1 week) DVM Requests</h5>
                    <p class="card-text display-4">{{ dvm_requests_1_week|intcomma }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-white bg-darkmediumpurple mb-3">
                <div class="card-body">
                    <h5 class="card-title">(1 week) DVM Results</h5>
                    <p class="card-text display-4">{{ dvm_results_1_week|intcomma }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card text-white bg-darkmediumpurple mb-3">
                <div class="card-body">
                    <h5 class="card-title">Unique DVM Users</h5>
                    <p class="card-text display-4">{{ unique_dvm_users|intcomma }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
                <div class="card text-white bg-darkmediumpurple mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Total Sats Paid to DVMs</h5>
                        <p class="card-text display-4">{{ total_amount_paid_to_dvm_sats|intcomma }}</p>
                    </div>
                </div>
            </div>
        </div>
</div>



{% endblock %}
