{% extends 'monitor/base.html' %}



<!--    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>-->
<!--    <meta http-equiv="refresh" content="60">-->

{% block content %}
<div class="text-center">
    <h3>DVM Activity on Nostr</h3>
</div>

<div class="container mt-5">
    <div class="row">

        <div class="col-md-3">
            <div class="card text-white bg-darkmediumpurple mb-3">
                <div class="card-body">
                    <h5 class="card-title">DVM Events Seen</h5>
                    <p class="card-text display-4">{{ num_dvm_events }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-white bg-mediumpurple mb-3">
                <div class="card-body">
                    <h5 class="card-title">DVM Kinds Seen</h5>
                    <p class="card-text display-4">{{ num_dvm_kinds }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-white bg-mediumpurple mb-3">
                <div class="card-body">
                    <h5 class="card-title">DVM Feedback Kinds Seen</h5>
                    <p class="card-text display-4">{{ num_dvm_feedback_kinds }}</p>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="card text-white bg-darkmediumpurple mb-3">
                <div class="card-body">
                    <h5 class="card-title">DVM Pub Keys Seen</h5>
                    <p class="card-text display-4">{{ dvm_pub_keys }}</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

<!--        <div class="col-md-3">-->
<!--            <div class="card text-white bg-mediumpurple mb-3">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">DMs Seen</h5>-->
<!--                    <p class="card-text display-4">{{ dm_counts }}</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <div class="col-md-3">
            <div class="card text-white bg-darkmediumpurple mb-3">
                <div class="card-body">
                    <h5 class="card-title">(24 hr) DVM Tasks</h5>
                    <p class="card-text display-4">{{ num_dvm_tasks_24h }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-white bg-darkmediumpurple mb-3">
                <div class="card-body">
                    <h5 class="card-title">(24 hr) DVM Results</h5>
                    <p class="card-text display-4">{{ num_dvm_results_24h }}</p>
                </div>
            </div>
        </div>

                <div class="col-md-3">
            <div class="card text-white bg-darkmediumpurple mb-3">
                <div class="card-body">
                    <h5 class="card-title">(1 week) DVM Tasks</h5>
                    <p class="card-text display-4">{{ num_dvm_tasks_1week }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-white bg-darkmediumpurple mb-3">
                <div class="card-body">
                    <h5 class="card-title">(1 week) DVM Results</h5>
                    <p class="card-text display-4">{{ num_dvm_results_1week }}</p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="text-center">
        <h4>Recent DVM Requests</h4>
    </div>


    <!-- Your existing content here -->
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">User</th>
                            <th scope="col">Event Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for recent_event in recent_events %}
                        <tr>
                            <td>{{ recent_event.user }}</td>
                            <td>{{ recent_event.event }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

<h2>DVM Events by Kinds</h2>
<div id="samplePlot"></div>


<!-- Create a div to render the plot -->
<div id="plotly-bar-chart"></div>


<!-- Create a div to render the plot -->
<div id="plotly-bar-chart-feedback"></div>

<div id="plotly-bar-chart-feedback-dvm"></div>

<div id="plotly-bar-chart-request-pubs"></div>

<script>
// Create arrays from Django dictionary
var data = [{% for label, value in kinds_counts.items %}{"x": "{{ label }}", "y": {{ value }}},{% endfor %}];

// Sort the data based on x values in ascending order
data.sort(function(a, b) {
    return a.x.localeCompare(b.x);
});

// Separate the sorted data back into x_data and y_data arrays
var x_data = data.map(function(item) {
    return item.x;
});

var y_data = data.map(function(item) {
    return item.y;
});

var colors = ['#FF5733', '#33FF57', '#5733FF', '#FF33A5', '#33A5FF', '#FFA533'];

var barColors = [];
for (var i = 0; i < x_data.length; i++) {
    barColors.push(colors[i % colors.length]);
}

var layout = {
    title: 'Number of DVM Tasks per Tag (w/ overlaps)',
    xaxis: {
        title: 'Tags',
        type: 'category',
        gridcolor: '#444',
        zerolinecolor: '#444'
    },
    yaxis: {
        title: 'Number of DVM Tasks',
        gridcolor: '#444',
        zerolinecolor: '#444'
    },
    paper_bgcolor: '#2a2a2a',
    plot_bgcolor: '#333333',
    font: {
        color: '#eaeaea'
    }
};

var data = [{
    type: 'bar',
    x: x_data,
    y: y_data,
    marker: {
        color: barColors
    }
}];

// Plot the chart
Plotly.newPlot('plotly-bar-chart', data, layout);

</script>


<script>
// Create arrays from Django dictionary
var data = [{% for label, value in kind_feedback_counts.items %}{"x": "{{ label }}", "y": {{ value }}},{% endfor %}];

// Sort the data based on x values in ascending order
data.sort(function(a, b) {
    return a.x.localeCompare(b.x);
});

// Separate the sorted data back into x_data and y_data arrays
var x_data = data.map(function(item) {
    return item.x;
});

var y_data = data.map(function(item) {
    return item.y;
});

var colors = ['#FF5733', '#33FF57', '#5733FF', '#FF33A5', '#33A5FF', '#FFA533'];

var barColors = [];
for (var i = 0; i < x_data.length; i++) {
    barColors.push(colors[i % colors.length]);
}

var layout = {
    title: 'Number of DVM Task Job results per Kind (w/ overlaps)',
    xaxis: {
        title: 'Tags',
        type: 'category',
        gridcolor: '#444',
        zerolinecolor: '#444'
    },
    yaxis: {
        title: 'Number of DVM Task Job Results by Kind',
        gridcolor: '#444',
        zerolinecolor: '#444'
    },
    paper_bgcolor: '#2a2a2a',
    plot_bgcolor: '#333333',
    font: {
        color: '#eaeaea'
    }
};

var data = [{
    type: 'bar',
    x: x_data,
    y: y_data,
    marker: {
        color: barColors
    }
}];

// Plot the chart
Plotly.newPlot('plotly-bar-chart-feedback', data, layout);

</script>

<script>
    // Create arrays from Django dictionary
var x_data = [{% for label, value in dvm_job_results.items %}"{{ label }}",{% endfor %}];
var y_data = [{% for label, value in dvm_job_results.items %}{{ value }},{% endfor %}];

var colors = ['#FF5733', '#33FF57', '#5733FF', '#FF33A5', '#33A5FF', '#FFA533'];

var barColors = [];
for (var i = 0; i < x_data.length; i++) {
    barColors.push(colors[i % colors.length]);
}

var layout = {
    title: 'Number of DVM Task Feedbacks per DVM ',
    xaxis: {
        title: 'Tags',
        type: 'category',
        gridcolor: '#444',
        zerolinecolor: '#444'
    },
    yaxis: {
        title: 'Number of DVM Task Job Results by Kind',
        gridcolor: '#444',
        zerolinecolor: '#444'
    },
    paper_bgcolor: '#2a2a2a',
    plot_bgcolor: '#333333',
    font: {
        color: '#eaeaea'
    }
};

var data = [{
    type: 'bar',
    x: x_data,
    y: y_data,
    marker: {
        color: barColors
    }
}];

// Plot the chart
Plotly.newPlot('plotly-bar-chart-feedback-dvm', data, layout);

</script>

<script>
    // Create arrays from Django dictionary
var x_data = [{% for label, value in dvm_job_requests.items %}"{{ label }}",{% endfor %}];
var y_data = [{% for label, value in dvm_job_requests.items %}{{ value }},{% endfor %}];

var colors = ['#FF5733', '#33FF57', '#5733FF', '#FF33A5', '#33A5FF', '#FFA533'];

var barColors = [];
for (var i = 0; i < x_data.length; i++) {
    barColors.push(colors[i % colors.length]);
}

var layout = {
    title: 'DVM Requests by User Pub Keys',
    xaxis: {
        title: 'User Pub Key',
        type: 'category',
        gridcolor: '#444',
        zerolinecolor: '#444'
    },
    yaxis: {
        title: 'Number of DVM Requests',
        gridcolor: '#444',
        zerolinecolor: '#444'
    },
    paper_bgcolor: '#2a2a2a',
    plot_bgcolor: '#333333',
    font: {
        color: '#eaeaea'
    }
};

var data = [{
    type: 'bar',
    x: x_data,
    y: y_data,
    marker: {
        color: barColors
    }
}];

// Plot the chart
Plotly.newPlot('plotly-bar-chart-request-pubs', data, layout);

</script>

{% endblock %}
